[submodule "DiligentCore"]
	path = DiligentCore
	url = https://github.com/Lokomojo/DiligentCore.git
[submodule "DiligentTools"]
	path = DiligentTools
	url = https://github.com/Lokomojo/DiligentTools.git
[submodule "DiligentSamples"]
	path = DiligentSamples
	url = git@github.com:Lokomojo/DiligentSamples.git
[submodule "DiligentFX"]
	path = DiligentFX
	url = https://github.com/DiligentGraphics/DiligentFX.git
